@model Garage_3._0.Models.ViewModels.VehicleCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vehicle.VehicleType" class="control-label"></label>
                <select asp-for="Vehicle.VehicleType" class="form-control" asp-items="@Model.VehicleTypes"></select>
                <span asp-validation-for="Vehicle.VehicleType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Vehicle.RegistrationNumber" class="control-label"></label>
                <input asp-for="Vehicle.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Vehicle.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Color" class="control-label"></label>
                <input asp-for="Vehicle.Color" class="form-control" />
                <span asp-validation-for="Vehicle.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Brand" class="control-label"></label>
                <input asp-for="Vehicle.Brand" class="form-control" />
                <span asp-validation-for="Vehicle.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Model" class="control-label"></label>
                <input asp-for="Vehicle.Model" class="form-control" />
                <span asp-validation-for="Vehicle.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.ParkingSpotSize" class="control-label"></label>
                <input asp-for="Vehicle.ParkingSpotSize" class="form-control" />
                <span asp-validation-for="Vehicle.ParkingSpotSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.NumberOfWheels" class="control-label"></label>
                <input asp-for="Vehicle.NumberOfWheels" class="form-control" />
                <span asp-validation-for="Vehicle.NumberOfWheels" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="Vehicle.VehicleTypeId" class="control-label"></label>
                <select asp-for="Vehicle.VehicleTypeId" class="form-control" asp-items="@Model.VehicleTypeId"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
